local/default/conf/config.php
local/default/conf/tmp-config.php
top/header.php
top/index.php
top/functions/psAux.php
top/functions/procStat.php
top/functions/killProcess.php
top/functions/ioStatDx.php
top/functions/getRUsage.php
top/functions/free.php
top/functions/dfAL.php
top/functions/procNetDev.php
local/default/template/theme.css
local/default/img/backArrow.png
local/default/img/close.png
local/default/img/favicon.png
local/default/img/fileIcon.png
local/default/img/folderIcon.png
local/default/img/Gear.png
local/default/img/greenCheck.png
local/default/img/loading.gif
local/default/img/next.png
local/default/img/Pause.png
local/default/img/Play.png
local/default/img/prev.png
local/default/img/redWarning.png
local/default/img/Refresh.png
local/default/img/task-manager.png
local/default/img/trashCan.png
local/default/img/trashCanMulti.png
local/default/img/yellowWarning.png
local/default/img/search.png
local/default/img/info.png
local/default/conf/config1.php
local/default/conf/config2.php
local/default/conf/config3.php
local/default/conf/config4.php
local/default/conf/config5.php
monitor/*
search/*
local/default/img/chrome.png
local/default/img/exampleErrorJS.png
local/default/img/firefox.png
local/default/img/seleniumMonitor.png
local/default/img/opera.png
local/default/img/refresh-animated.gif
local/default/img/MicrosoftEdge.png
local/default/img/internet_explorer.png
local/default/img/safari.png
local/default/img/stopSignLight.png
local/default/img/stopSignDark.png
local/default/img/expand.png
local/default/img/contract.png
*.log
